body{
    background-color: #FEDEAD;
}

h1{
    color: red;
}

h1:hover{
    color: orange;
}

span:hover{
    color: green;
}

p{
    column-count: 3;
    column-gap: 40px;
    /* column-rule-color: red;
    column-rule-style: solid;
    column-rule-width: 2px; */
    column-rule: red solid 2px;
}

p::selection{
    background-color: violet;
}